<footer>
	<small>
		<a href="opiniatre.com"> Rails Tutorial </a> by Benny
	</small>

	<nav>
	<ul>
		<li><%=  link_to "Home", "/" %></li>
		<li><%=  link_to "About", "/about" %></li>
		<li><a href="http://www.opiniatre.com"> News </a></li>
	</ul>
	</nav>


</footer>